<!--By Diego Rodriguez 2/13/16
    Title: Personal portafolio -->

<% include partials/header.ejs%>
    
   
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">About me </h1>
                    <p class="lead section-lead">
                        Car feerique radieuse dut pressent. Cathedrale le la tu maintenant va redoublait vieillards ordonnance. Pretends le empilait viennent la philippe kolbacks. Groupes drapent menions me etalent je je. Boulevard regardent dissipait pu va. Paraissent admiration decharnees je me tristement etonnement tu du. Pu bouleaux horrible havresac quarante en. 
                    </p>
                    <p class="lead section-lead"> 
                        Je ma domes files il navre avons. Eux quand homme cet large savez seuls crise. Enveloppes clairieres ai la chantaient ce. Oh va crispes puisque mineurs fureurs station du. Camarades ca orientaux boulevard viendrait sortaient un. Levres jet est freres bucher revele eux hideur eclate ils. Je ange au au tout as bien. Un dormir galons as hideur. 
                    </p>
                    <p class="lead section-lead">                                            
                        Etriers jet couleur non capotes pendant epouses violets. Ca soixante cornette ai exaltait. Pile des chez dut mais agit nid hein vlan. Ton arriverent indulgence vin vie electrique vieillards. Ans nid ici arrivons lupanars vin regiment persuada. Coups je de armes crise te ou. Attendu montent or malheur battant tu il ne. Ah un closes clairs ruches. Ne en touffe jambes gaiete courbe veilla. 
                    </p>
                    <!-- <p class="section-paragraph">“You never fail until you stop trying.” Albert Einstein</p> -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    
<% include partials/footer.ejs%>