<% include partials/header.ejs%>
    
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1 class="section-heading">Projects </h1>
                    <p class="lead section-lead">
                        <b>Samsung Smart-printing</b> An Android application development for Samsung, using Java servlets, MongoDB and WildFly application server. 
                    </p>
                    <p class="lead section-lead">
                        <b>Tom & Jerry web side-scrolling video game</b> Web video game with three levels of difficulty based in JavaScript written in Typescript. <a href="https://github.com/WebScroller/T-J">code</a>
                    </p>
                    <p class="lead section-lead">
                        <b>E-Commerce website</b> A full E-Commerce web site for selling books designed for academic purpose only. Developed using .Net and Microsoft SQL Server in Visual Studio. 
                    </p>
                    <p class="lead section-lead">
                        <b>Smart Pillow</b> Designed and built a prototype for a "smart" pillow using a sensing device and transmitting data to a cell phone via Bluetooth. We used C language to program the microcontroller, and Android for the cellphone application. The prototype was sold to a pillow company (Vivenda).
                    </p>
                   
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    
<% include partials/footer.ejs%>