<!--By Diego Rodriguez 2/13/16
    Title: Personal portafolio -->
    
<% include partials/header.ejs%>
    
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                 
                 <h1 class="section-heading">Services offered</h1>
                    <!-- random text-->
                    <p class="lead section-lead">
                        <b>Web sites creator</b> El dogma pagar yo la turbo ha. Tu proposito castrillo la sensibles. Fino mal dos chi este onda pito cama acto. Hay sea pide pudo vivo. Viento delito una oro antojo rostro esmero gas noches. En pluguiera so. 
                    </p>
                    <p class="lead section-lead">
                        <b>Computer fixer</b> Aprender es instante cobraban hermanas inaudito ti un. Simpatias si elegantes retroceso de aceptando preterito.
                    </p>
                    <p class="lead section-lead">
                        <b>IT advisor</b> Non tertulios asi mostrador acudiendo ser emprender comenzaba semejante. Alcohol interno ya excusar jaqueca lo. Dijeron cuartos enfermo decirte le ya.                     </p>                   
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    
<% include partials/footer.ejs%>